# CODEOWNERS
# This file defines who is responsible for specific paths in the repo.
# Any change in these paths will automatically request review
# from the listed GitHub usernames or teams.
# Assign ownership of all files under .github/
* @duongvanthanh1992
